<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MUMS.RssEpisodeFilter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MumsContext" connectionString="metadata=res://*/Data.MumsContext.csdl|res://*/Data.MumsContext.ssdl|res://*/Data.MumsContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MUMS;initial catalog=mums;persist security info=True;user id=mums;password=f1l!baba;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <MUMS.RssEpisodeFilter.Properties.Settings>
      <setting name="TorrentStore" serializeAs="String">
        <value>C:\Temp\utorrent</value>
      </setting>
      <setting name="LogStore" serializeAs="String">
        <value>C:\Temp\RssEpisodeFilterLogs</value>
      </setting>
      <setting name="FeedUrl" serializeAs="String">
        <value>http://pipes.yahoo.com/pipes/pipe.run?_id=be8418d4e513c2991610dc913619806c&amp;_render=rss</value>
      </setting>
      <setting name="EnableLogger" serializeAs="String">
        <value>True</value>
      </setting>
    </MUMS.RssEpisodeFilter.Properties.Settings>
  </applicationSettings>
</configuration>