
body 
{
	overflow-y: scroll;
}

h1,h2,h3,h4,h5,h6
{
    padding: 0;
    margin: 1.4em 0 0.5em 0;
}

.label 
{
	font-weight: normal;
}

header.hero-unit
{
	padding: 20px 60px;
}

#wrapper
{
	display: none;
}

#wrapper h1
{
    color: #222;
    margin: 1.8em 0 0.5em 0;
}

#torrents ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

#torrents li
{
    margin: 0 0 1.3em 0;
    padding: 0;
    font-size: 90%;
}

#torrents li:hover 
{
	background-color: #EEE;
	cursor: pointer;
}

#torrents h3, #torrents p
{
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#torrents li p
{
	font-family: 'Helvetica Neue',Arial,Helvetica,Verdana,sans-serif;
    padding-bottom: 8px;
    padding-top: 3px;
    font-style: italic;
    color: #555;
}

#feed p
{
	color: #777;
	font-size: small;
}

#logo img
{
    max-width: 100%;
}

.footer 
{
	margin-top: 45px;
	padding: 35px 0 36px;
	border-top: 1px solid #E5E5E5;
}

.footer p .badge, #torrent-details .badge
{
	margin-right: 1em;
}

#selected-torrent-modal .progress,
#selected-torrent-modal .progress .bar
{
	height: 4px;
	margin-bottom: 0;
}

#selected-torrent-modal .modal-header p
{
	font-size: x-small;
	color: #777;
	text-align: right;
}

.table tbody td.right, .table thead th.right
{
	text-align: right;
}

#table-files td:first-child
{
	font-size: x-small;
	word-break: break-all;
}

td.hash-row 
{
	text-overflow: ellipsis;
}