/*****************************************************************************/
/*** General / high level ****************************************************/
	
	html
	{
		height: 100%;
	}
	
	body
	{
		font-size: 16px;
		font-family: "Helvetica Neue", Helvetica, Sans-Serif;
		color: #232323;
		background-color: #fff;
		padding-bottom: 40px;
	}

	#header h1 
	{ 
		display: none; 
	}

	#header
	{
		background: url('images/mums_logo.png') center left no-repeat;
		padding-left: 200px;
		margin-top: 10px;
	}

	.addWrapper
	{
		height: 82px;
		padding-top: 17px;
		border-left: 1px dashed #aaa;
		font-size: 14px;
		padding-left: 20px;
	}

	.addWrapper label
	{
		font-weight: bold;
		padding: 10px 0;
	}
	
	.breakLabel { display: block; }
	
	.labelWrapper 
	{ 
		display: none;
		padding-top: 10px; 
	}

	.addWrapper input[type=file], .addWrapper input[type=text]
	{
		width: 240px;
		margin-right: 10px;
	}

	.addWrapper input[type=submit] 
	{ 
		display: none; 
	}
	
	#content
	{
		padding-top: 20px;
	}
	
	h2
	{
		display: block;
		padding-bottom: 0.5em;
		margin-top: 1em;
		margin-bottom: 1em;
		border-bottom: 1px solid #ccc;
		text-align: center;
		font-family: Georgia;
		font-style: italic;
		font-weight: normal;
		font-size: 24px;
	}
	
	.torrent-list .torrent
	{
		line-height: 20px;
		overflow: hidden;
		text-align: center;
	}
	
	.torrent-wrapper
	{
		float: left;
		width: 960px;
	}
	
	.torrent-wrapper.selected
	{
		background-color: rgba(0,0,0,0.15);
		-moz-border-radius:		5px;
		-webkit-border-radius:	5px;
		-khtml-border-radius:	5px;
		border-radius:			5px;
	}
	
	.torrent.percentage
	{
		opacity: 0.7;
		cursor: pointer;
		padding-top: 5px;
		
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition:		all 0.2s ease-in-out;
		-o-transition:		all 0.2s ease-in-out;
		-ms-transition:		all 0.2s ease-in-out;
		transition:			all 0.2s ease-in-out;
	}
	
	.torrent.percentage:hover
	{
		opacity: 1;
	}
	
    canvas
    {
        position: absolute;
    }
	
	.torrent.percentage h3, .torrent.percentage h4
	{
		position: absolute;
		display: block;
		width: 60px;
		text-align: center;
		margin: 0;
		padding: 0;
	}
	
	.torrent.percentage h3
	{
        padding-top: 16px;
        font-size: 18px;
        font-weight: bold;
	}
	
	.torrent.percentage h4
	{
		padding-top: 30px;
        font-size: 11px;
        color: #777;
	}
	
	.torrent			  
	{ 
		font-size: medium; 
		font-weight: bold; 
		height: 60px;
		padding-top: 10px;
	}
	
	.torrent .label		  { font-weight: normal; font-size: x-small; color: #555; }
	
	.torrent.title        { text-align: left; white-space: nowrap }

	.status-text			  { padding-right: 20px; }
	
	#torrent-actions, #set-label-wrapper
	{
		display: none;
		position: absolute;
		-moz-border-radius:		5px;
		-webkit-border-radius:	5px;
		-khtml-border-radius:	5px;
		border-radius:			5px;
		background: #333;
		color: White;
	}
	
	#torrent-actions a
	{
		font-size: x-small;
		margin-left: 1em;
		padding: 0.5em;
		line-height: 2em;
		color: White;
		text-decoration: none;
	}
	
	#torrent-actions a:first-child
	{
		margin-left: 0;
	}
	
	#set-label-wrapper
	{
		margin-top: 25px;
		padding: 3px;
	}
	
	#set-label-wrapper select
	{
		font-size: small;
	}
	
	#tools
	{
		text-align: center;
	}
	
	#overlay
	{
		display:none;
		
		position: absolute;
		background: rgba(0,0,0,0.7);
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 10000;
	}
	
	#error 
	{
		display:none;
		
		background-color: #fff;
		background-image:  url('images/vader.jpg');
		background-attachment:scroll;
		background-position: 5px 5px;
		background-repeat: no-repeat;
		
		overflow: hidden;
		
		padding: 5px 5px 5px 200px;
		height: 125px;
		width: 300px;
		
		position: absolute;
		z-index: 100000;
		left: 50%;
		margin-left: -250px;
		top:30px;
		
		-moz-border-radius:		5px;
		-webkit-border-radius:	5px;
		-khtml-border-radius:	5px;
		border-radius:			5px;
		
		border: 1px solid #ccc;
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	}
	
	#error h5
	{
		font-size: 16px;
		font-weight: bold;
	}
	
	#error h5, #error div, #error p
	{
		margin: 0;
		padding: 0 0 10px 0;
	}
	
	#error div 
	{ 
		font-size: 12px;
		height: 55px;
		overflow-x: hidden;
		overflow-y: auto;
	}

	#error a
	{
		position: absolute;
		right: 5px;
		bottom: 5px;
	}
	
	#error a.awesome:active
	{
		top: 106px;
	}

/*****************************************************************************/
/*** Awesome! ****************************************************************/
	
	.awesome, .awesome:visited {
		background: #222 url("images/alert-overlay.png") repeat-x; 
		display: inline-block; 
		padding: 5px 10px 6px; 
		color: #fff; 
		text-decoration: none;
		-moz-border-radius: 5px; 
		-webkit-border-radius: 5px;
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
		border-bottom: 1px solid rgba(0,0,0,0.25);
		position: relative;
		cursor: pointer;
	}
	
	.awesome:hover									{ background-color: #111; color: #fff; }
	.awesome:active									{ top: 1px; }
	.small.awesome, .small.awesome:visited 			{ font-size: 11px; }
	.awesome, .awesome:visited,
	.medium.awesome, .medium.awesome:visited 		{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
	.large.awesome, .large.awesome:visited 			{ font-size: 14px; padding: 8px 14px 9px; }
	
	.green.awesome, .green.awesome:visited			{ background-color: #91bd09; }
	.green.awesome:hover							{ background-color: #749a02; }
	.blue.awesome, .blue.awesome:visited			{ background-color: #2daebf; }
	.blue.awesome:hover								{ background-color: #007d9a; }
	.red.awesome, .red.awesome:visited				{ background-color: #e33100; }
	.red.awesome:hover								{ background-color: #872300; }
	.magenta.awesome, .magenta.awesome:visited		{ background-color: #a9014b; }
	.magenta.awesome:hover							{ background-color: #630030; }
	.orange.awesome, .orange.awesome:visited		{ background-color: #ff5c00; }
	.orange.awesome:hover							{ background-color: #d45500; }
	.yellow.awesome, .yellow.awesome:visited		{ background-color: #ffb515; }
	.yellow.awesome:hover							{ background-color: #fc9200; }
	