@using MUMS.Web.Extensions

<section id="login-wrapper">
    <iframe src="@ViewBag.RpxFrameUrl" scrolling="no" frameBorder="no" allowtransparency="true" style="width:400px;height:240px"></iframe>
</section>

<section>
    <h1>When in doubt...</h1>
    <p>...fråga Christoffer :)</p>
</section>