@using MUMS.Web.Extensions
@section HeadSection {
    @Html.Stylesheet(Links.Content.LogOn_css)
}

<div id="login-wrapper">
    <iframe src="@ViewBag.RpxFrameUrl" scrolling="no" frameBorder="no" allowtransparency="true" style="width:400px;height:240px"></iframe>
</div>