@section HeadSection {
    <script type="text/javascript">
        Index.init();
    </script>
}

<section id="torrents" data-bind="foreach: Sections">
    <!-- ko if: !Finished() -->
    <h1 data-bind="text: Name"></h1>
    <ul data-bind="foreach: Torrents">
        <li>
            <h3 data-bind="text: Name, attr: { title: Name }"></h3>
            <p data-bind="html: Subtext"></p>
            <div class="progress" data-bind="style: { width: Format.Percentage(Percentage()) + '%' }"></div>
        </li>
    </ul>
    <!-- /ko -->
</section>

<section id="feed">
    <h1>Senaste avsnitten</h1>

    <ul data-bind="foreach: LatestEpisodes">
        <li>
            <h3 data-bind="text: Name, attr: { title: Name }"></h3>
            <p data-bind="text: Subtext"></p>
        </li>
    </ul>
</section>