@model MUMS.Web.Models.IndexModel

@section HeadSection {
    <script type="text/javascript">
        var m = @Html.Raw(Model.DetailsModel);
        Index.init(m);
    </script>
}

<div id="wrapper" class="container">

    <div class="row" data-bind="visible: !ShowDetails()">
        
        <div id="torrents" class="span6" data-bind="foreach: Sections">
            @Html.Partial(MVC.Shared.Views.TorrentModel)
        </div>

        <section id="feed" class="span6">
            <h2>Senaste avsnitten</h2>

            <ul data-bind="foreach: LatestEpisodes" class="thumbnails">
                <li class="span3">
                    <div class="thumbnail">
                        <img data-bind="attr: {src: ImageUrl, alt: Name }" />
                        <h5 data-bind="text: ShowName() + ' (säsong ' + Season() + ', avsnitt ' + Episode() + ')'"></h5>
                        <p data-bind="text: Subtext"></p>
                    </div>
                </li>
            </ul>
        </section>
    </div>

    <div data-bind="visible: ShowDetails()">
        @Html.Partial(MVC.Shared.Views.TorrentDetails, new MUMS.Web.Models.DetailsModel())
    </div>

    <footer class="footer">
        <p class="pull-right">
            <a href="@(System.Configuration.ConfigurationManager.AppSettings["uTorrentAddress"])">uTorrent WebUI</a>
        </p>

        <p>
            <span class="badge badge-success" title="Nedladdningshastighet">
                <i class="icon-arrow-down icon-white"></i>
                <span data-bind="text: Format.PrettySpeed(DownloadSpeedInBytes())"></span>
            </span>

            <span class="badge badge-error" title="Uppladdningshastighet">
                <i class="icon-arrow-up icon-white"></i>
                <span data-bind="text: Format.PrettySpeed(UploadSpeedInBytes())"></span>
            </span>
        </p>
    </footer>

</div>